{% extends "auctions/layout.html" %}

{% block body %}
<div class="container m-5 p-3">
    <h2>{{cat.name}}</h2>
        <div class="row align-items-center">
            {% for listing in listings %}
                <div class="card m-2" style="width: 18rem;">
                    <a href="{% url 'listing' listing.id %}">
                        <img class="card-img-top" src="{{listing.img}}" alt="{{ listing.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ listing.title }}</h5>
                        <p><strong>Price: {{ listing.currentPrice}}</strong></p>
                        <p>Description: {{listing.description}}</p>
                        <p class="card-text">Listed {{ listing.post_date|timesince }} ago</p>
                        {% if listing.alive %}
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary w-100">More Details</a>
                        {% else %}
                        <button class="btn btn-danger w-100"  disabled>Listing Closed</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not listings %}
            <div class="alert alert-danger m-5" role="alert">No listing yet.</div>
        {% else %}
            <form class="m-2" method="POST" action="{% url 'category' cat.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-50">Include Closed Listings</button>
            </form>
        {% endif %}
</div>
{% endblock %}
