{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container m-5 p-3">
    <h2>Creating a new Listing</h2>
    {% if user.is_authenticated%}
    <form class="form-inline my-5" id="add-category" method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="category-name"  name="name" placeholder="Create a new Category">
        </div>
        <button type="submit" form="add-category" class="btn btn-primary mb-2">Submit</button>
    </form>

    <form class="align-items-center m-5 p-3" method="POST" action="{% url 'create' %}">
        {% if errors %}
            <div class="alert alert-danger" role="alert">{{ errors }}</div>
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary my-5 w-50" >Submit</button>
    </form>

    {% endif %}
</div>
{% endblock %}
