{% extends "auctions/layout.html" %}

{% block body %}
<div class="container m-5 p-3">
    <h2>Active Listings</h2>
        <div class="row align-items-center">
            {% if not listings %}
                <div class="alert alert-danger m-5" role="alert">No listing yet.</div>
            {% endif %}
            {% for listing in listings %}
                <div class="card m-2" style="width: 18rem;">
                    <a href="{% url 'listing' listing.id %}">
                        <img class="card-img-top" src="{{listing.img}}" alt="{{ listing.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ listing.title }}</h5>
                        <p><strong>Price: {{ listing.currentPrice|floatformat:2}}</strong></p>
                        <p>Description: {{listing.description}}</p>
                        <p class="card-text">Listed {{ listing.post_date|timesince }} ago</p>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary w-100" >More Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
