{% extends "auctions/layout.html" %}

{% block body %}
<div class="container m-5 p-3">
    <h2>{{listings.count}} item(s) in your watchlist</h2>
        <div class="row align-items-center">
            {% for listing in listings %}
                <div class="card m-2 text-center" style="width: 18rem;">
                    <a href="{% url 'listing' listing.id %}">
                        <img class="card-img-top" src="{{listing.listing.img}}" alt="{{ listing.listing.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.listing.title }}</h5>
                        <form class="m-2" method="POST" action="{% url 'remove' listing.listing.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger w-100">remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

{% endblock %}
